[core]
	excludesfile = ~/.gitignore_global
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true 
{{- else }}
	autocrlf = input
{{- end }}
	longpaths = true
	quotepath = off

[include]
	path = ~/.config/git/user.inc
	path = ~/.config/git/proxy.inc
	path = ~/.config/git/tool.inc

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
