{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "adoptopenjdk/openjdk"
tap "beeftornado/rmtree"
tap "buo/cask-upgrade"
tap "filosottile/musl-cross"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "niyoh120/niyoh"
tap "xo/xo"
brew "xz"
brew "readline"
brew "aria2"
brew "coreutils"
brew "assh"
brew "baidupcs-go"
brew "bandwhich"
brew "bash"
brew "bashdb"
brew "protobuf"
brew "grpc"
brew "bear"
brew "node"
brew "bitwarden-cli"
brew "glib"
brew "llvm"
brew "ccls"
brew "cflow"
brew "chezmoi"
brew "cling"
brew "cloc"
brew "cloudflared"
brew "cmake"
brew "qemu"
brew "lima"
brew "colima"
brew "conan"
brew "convmv"
brew "corkscrew"
brew "go"
brew "dep"
brew "direnv"
brew "diskonaut"
brew "docker"
brew "docker-compose"
brew "duf"
brew "harfbuzz"
brew "emscripten"
brew "enca"
brew "exa"
brew "fd"
brew "libass"
brew "x265"
brew "ffmpeg"
brew "ffmpeg@4"
brew "fpp"
brew "lua"
brew "pcre"
brew "sofia-sip"
brew "freeswitch"
brew "fswatch"
brew "fzf"
brew "gcc"
brew "git-extras"
brew "git-lfs"
brew "git-now"
brew "glances"
brew "gnu-sed"
brew "gnupg"
brew "graphviz"
brew "hadoop", link: false
brew "haskell-stack"
brew "hexyl"
brew "httpie"
brew "jmeter"
brew "jo"
brew "jq"
brew "kafka"
brew "libosip"
brew "libexosip"
brew "libphonenumber"
brew "lrzsz"
brew "lux"
brew "mas"
brew "massren"
brew "minikube"
brew "mitmproxy"
brew "mosh"
brew "mtr"
brew "mycli"
brew "mysql"
brew "ncdu"
brew "neovim"
brew "nghttp2"
brew "nmap"
brew "nnn"
brew "noti"
brew "onefetch"
brew "openapi-generator"
brew "openssh"
brew "parallel"
brew "pipx"
brew "pjproject"
brew "prettyping"
brew "pstree"
brew "python@3.8"
brew "redis", restart_service: true
brew "ripgrep"
brew "scrcpy"
brew "shellcheck"
brew "sipp"
brew "starship"
brew "subversion"
brew "telnet"
brew "tmux"
brew "tmuxinator-completion"
brew "translate-shell"
brew "tree"
brew "watchexec"
brew "wget"
brew "wireshark", link: false
brew "yarn"
brew "yasm"
brew "zoxide"
brew "zsh"
brew "zshdb"
brew "asdf"
brew "filosottile/musl-cross/musl-cross"
brew "niyoh120/niyoh/sshpass"
brew "xo/xo/usql"
cask "adoptopenjdk"
cask "alt-tab"
cask "android-platform-tools"
cask "anki"
cask "appcleaner"
cask "avibrazil-rdm"
cask "baidunetdisk"
cask "betterdisplay"
cask "beyond-compare"
cask "bitwarden"
cask "bob"
cask "calibre"
cask "dash"
cask "deepl"
cask "firefox"
cask "font-fira-code"
cask "forklift"
cask "free-download-manager"
cask "gitify"
cask "gitup"
cask "google-chrome"
cask "hiddenbar"
cask "ieasemusic"
cask "iina"
cask "insomnia"
cask "iterm2"
cask "jetbrains-toolbox"
cask "jitsi"
cask "kap"
cask "karabiner-elements"
cask "keepingyouawake"
cask "keka"
cask "kitematic"
cask "knotes"
cask "kodi"
cask "lepton"
cask "licecap"
cask "linphone"
cask "meld"
cask "mellow"
cask "motrix"
cask "neteasemusic"
cask "nightowl"
cask "notion"
cask "obsidian"
cask "openinterminal"
cask "openmtp"
cask "packetsender"
cask "postman"
cask "qbittorrent"
cask "qqmusic"
cask "raycast"
cask "scroll-reverser"
cask "showyedge"
cask "shuttle"
cask "skim"
cask "snipaste"
cask "sourcetrail"
cask "spectacle"
cask "switchhosts"
cask "tencent-meeting"
cask "trunk-io"
cask "vagrant"
cask "vagrant-manager"
cask "visual-studio-code"
cask "vlc"
cask "vnc-viewer"
cask "wechatwork"
cask "wine-stable"
cask "wireshark"
cask "espanso"
mas "Battery Monitor", id: 836505650
mas "ChmPages", id: 1164062917
mas "Duplicate Photos Finder", id: 984929789
mas "EasyFind", id: 411673888
mas "Flow", id: 1423210932
mas "Fluent Reader", id: 1520907427
mas "Keynote", id: 409183694
mas "Kindle", id: 405399194
mas "Microsoft Excel", id: 462058435
mas "Microsoft Outlook", id: 985367838
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Remote Desktop", id: 1295203466
mas "Microsoft Word", id: 462054704
mas "OneDrive", id: 823766827
mas "Pocket", id: 568494494
mas "QQ", id: 451108668
mas "Rayon", id: 1609781496
mas "Sequel Ace", id: 1518036000
mas "Telegram", id: 747648890
mas "Telephone", id: 406825478
mas "The Unarchiver", id: 425424353
mas "Thor Launcher", id: 1120999687
mas "Xcode", id: 497799835
mas "Xnip", id: 1221250572
mas "网易有道词典", id: 491854842
EOF

{{ includeTemplate "install-pipx-packages.sh.tmpl" . }}
{{ end }}