{{ $repo := "muesli/duf" }}
{{ $version := "0.8.1" }}
{{ $fileName := printf "duf_%s" $version }}
{{ $baseDownloadURL := printf "https://github.com/%s/releases/download/v%s" $repo $version }}

{{ $install := true }}

{{ if eq .chezmoi.arch "amd64" }}
{{ $fileName = printf "%s_linux_x86_64" $fileName }}
{{ else if eq .chezmoi.arch "arm64" }}
{{ $fileName = printf "%s_linux_%s" $fileName .chezmoi.arch }}
{{ else }}
{{ $fdInstall = false }}
{{ end }}

{{ if $install }}
[".local/bin/duf"]
    type = "file"
    url = "{{ printf "%s/%s.tar.gz"  $baseDownloadURL $fileName }}"
    executable = true
    [".local/bin/duf".filter]
        command = "tar"
        args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "duf" ]
{{ end }}
