 [".oh-my-zsh"]
    type = "git-repo"
    url = "https://github.com/ohmyzsh/ohmyzsh"
    [".oh-my-zsh".pull]
      args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/autoupdate"]
    type = "git-repo"
    url = "https://github.com/TamCore/autoupdate-oh-my-zsh-plugins"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-autosuggestions"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting"

[".oh-my-zsh/custom/plugins/alias-tips"]
  type = "git-repo"
  url = "https://github.com/djui/alias-tips"

[".oh-my-zsh/custom/plugins/fzf-tab"]  
  type = "git-repo"
  url = "https://github.com/Aloxaf/fzf-tab"


[".oh-my-zsh/custom/plugins/zsh-autocomplete"]
  type = "git-repo"
  url = "https://github.com/marlonrichert/zsh-autocomplete"